{% extends "layout.twig" %}

{% block title %} {{parent()}} - Home{% endblock title %}

{% block container%}
    <div class="span12 well"> 
        <h3 class="text-center">Bienvenue sur notre site </h3>
    </div>
{% endblock container%}