{% extends "layout.twig" %}

{% block title %} {{parent()}} - Login{% endblock title %}

 {% block nav%} {% endblock nav%}
{% block logo%}{% endblock logo%}
{% block container%}
    <div class="span4 offset4 well">
        <a href=""><img src="{{base_url()}}assets/img/logo.png" alt=""/></a>
        <hr>
        <h4 class="text-center">Connectez Vous</h4>    
        <form method="POST" action="/">
            <fieldset>
                <div class="error">{{ validation_errors() }}</div>
                <input type="text" class="span4" name="login" placeholder="Votre login" required="required"/>
                <input type="password" class="span4" name="password" placeholder="Votre Mote de passe" required="required"/>
                <button type="submit" class="btn btn-danger btn-block">Login</button>
            </fieldset>
        </form>    
    </div>
{% endblock container%}