.error p{
    color: #b94a48;
    background-color: #f2dede;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(228, 199, 199);;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slider-shadow {
    background: url('../img/shadow1.png') no-repeat center bottom;
    background-size: 100%;
    padding-bottom: 0px;
    overflow: hidden;
    margin-bottom: 10px;
}
.erreur p {
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.required {
    color: #b94a48;
}
.blockreciv, .blockvisit{margin: 18px 0px 18px 0px;}
