{% extends "layout.twig" %}

{% block title %} {{parent()}} - Ajouter une Saison{% endblock title %}

{% block container%}
    <div class="well"> 
        <h4 class="text-center">Ajouter une Saison </h4>
        <hr>
         <form action='/saison/ajout' method="POST" class="form-horizontal offset2" >
             <fieldset>
                <div class="control-group">
                    <label class="control-label" for="saison">Saison</label>
                    <div class="controls">
                        <input type="text" name="saison" class="span3" required="required"/>
                        <div class="erreur">
                            {{ form_error('saison') }}         
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input name="saison_courant" type="checkbox"> saison courant
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-info">Ajouter</button>
                    </div>
                </div>
            </fieldset>
        </form> 
    </div>
{% endblock container%}