{% extends "layout.twig" %}

{% block title %} {{parent()}} - Modifier Saison{% endblock title %}

{% block container%}
    <div class="well"> 
        <h4 class="text-center">Modifier une Saison </h4>
        <hr>
         <form action='/saison/modifier/{{saison.id}}' method="POST" class="form-horizontal offset3" >
            <fieldset>
                
                <div class="control-group">
                    <label class="control-label" for="saison">Saison</label>
                    <div class="controls">
                        <input type="text" name="saison" class="span3" required="required"  value="{{ set_value('saison', saison.saison) }}"/>
                        <div class="erreur">
                            {{ form_error('saison') }}         
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-info">Modifier</button>
                    </div>
                </div>
            </fieldset>
        </form>   
    </div>
{% endblock container%}